{% extends 'layout.html' %}

{% block body %}
<h1>DOMOTIPI REMOTE</h1>
<p>A lightweight web page that acts as remote control for Phillips Hue and Kodi media center.</p>
<h2>Kodi</h2>

<form action="/kodi" method="POST" name="kodi-remote" id="kodi-remote">
    <button name="kodi_action" value="playpause">Play / pause</button>
    <button name="kodi_action" value="up">Up</button>
    <button name="kodi_action" value="down">Down</button>
    <button name="kodi_action" value="left">Left</button>
    <button name="kodi_action" value="right">Right</button>
</form>

<h2>Hue</h2>
<div class="lights">
    {% for light in lights %}
    <div class="light">
        {% include 'partials/light-form.html' %}

        {% if light.type == 'Dimmable light' %}
            {% include 'partials/dimm-light-form.html' %}
        {% elif light.type == 'Color temperature light' %}
            {% include 'partials/dimm-light-form.html' %}
            {% include 'partials/color-temp-form.html' %}
        {% elif light.type == 'Extended color light' %}
            {% include 'partials/dimm-light-form.html' %}
            {% include 'partials/color-mode-form.html' %}
            {% if light.colormode == 'xy' %}
                {% include 'partials/xy-form.html' %}
            {% elif light.colormode == 'ct' %}
                {% include 'partials/color-temp-form.html' %}
            {% elif light.colormode == 'hs' %}
                {% include 'partials/hue-form.html' %}
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}