{% extends 'room.jinja' %}

{% block top_controls %}
    <h2>Lights</h2>
    {% for light in lights %}
        <h3>{{ light[2] }}</h3>
        <div>id: {{light[0] }}</div>
        <div>type: {{ light[1] }}</div>
        <div>color mode: {{ light[7] }}</div>
        {{light}}
    {% endfor %}
    <div><a href="/room/{{ room[0][0] }}/save-as-scene">Save as scene</a></div>
{% endblock %}