{% extends 'room.jinja' %}

{% block top_controls %}
    <div class="dark-box light-remote">
        <h2 class="text-center">Lights</h2>
        <div class="lights">
            {% for light in lights %}
            <div class="light">
                <div class="scene-preview"></div>
                <h3>{{ light[2] }}</h3>
            </div>
            {% endfor %}
        </div>
        <div><a href="/room/{{ room[0][0] }}/save-as-scene">Save as scene</a></div>
    </div>
{% endblock %}
