{% extends 'layout.html' %}

{% block body %}
<h1>DOMOTIPI REMOTE</h1>
<p>A lightweight web page that acts as remote control for Phillips Hue and Kodi media center.</p>
<h2>Kodi</h2>
<form action="/kodi" method="POST" name="kodi-remote" id="kodi-remote">
    <button name="kodi_action" value="playpause">Play / pause</button>
    <button name="kodi_action" value="up">Up</button>
    <button name="kodi_action" value="down">Down</button>
    <button name="kodi_action" value="left">Left</button>
    <button name="kodi_action" value="right">Right</button>
</form>
<h2>Hue</h2>
<div style="display: flex; flex-wrap: wrap; margin: -.25rem;">
    {% for hue_light_info in form %}
     <form action='/hue/{{ hue_light_info.data.light_id }}' method="POST" name="hue_light_info" id="hue-remote">
        <div style="border: 2px solid black; margin: .25rem; padding: .5rem;">
            <div><label>Name: <input type="text" name="name" value="{{ hue_light_info.data.name }}" /></label></div>
            <div>Id: {{ hue_light_info.data.light_id}}</div>
            <div><label>On:<input name="on" type="checkbox" id="light_{{ hue_light_info.data.light_id }}"{% if hue_light_info.data.on %}checked{% endif%} /></label></div>
            {% if hue_light_info.data.brightness %}<div><label>Brightness:<input name="brightness" type="range" min="0" max="255" value="{{ hue_light_info.data.brightness }}"/></label></div>{% endif %}
            {% if hue_light_info.data.saturation %}<div><label>Saturation:<input name="saturation" type="range" min="0" max="255" value="{{ hue_light_info.data.saturation }}"/></label></div>{% endif %}
            {% if hue_light_info.data.hue %}<div><label>Hue:<input name="hue" type="range" min="0" max="65535 " value="{{ hue_light_info.data.hue }}"/></label></div>{% endif %}
            {% if hue_light_info.data.xy %}<div><label>xy: <input name="xy" type="text" value="{{ hue_light_info.data.xy }}" /></label></div>{% endif %}
            {% if hue_light_info.data.colortemp %}<div><label>colortemp: <input name="colortemp" value="{{ hue_light_info.data.colortemp }}" /></label></div>{% endif %}
            {% if hue_light_info.data.effect %}<div><label>colorloop: <input type="checkbox" name="effect" {% if hue_light_info.data.effect %} checked {% endif %} /></label></div>{% endif %}
            {% if hue_light_info.data.alert %}
            <label>
                alert:
                <select name="alert">
                    <option value="none" {% if not hue_light_info.data.alert%} selected {% endif %}>none</option>
                    <option value="select" {% if hue_light_info.data.alert == 'select' %} selected {% endif %}>select</option>
                    <option value="lselect" {% if hue_light_info.data.alert == 'lselect' %} selected {% endif %}>lselect</option>
                </select>
            </label>
            {% endif %}
            {% if hue_light_info.data.reachable %}<div><label>reachable:<input type="checkbox" {% if hue_light_info.data.reachable %} checked {% endif %}></label></div>{% endif %}
            <span>Type: {{ hue_light_info.data.type}}</span>
            <input type="submit" value="set">
        </div>
    </form>
    {% endfor %}
</div>
<h2>To-do's:</h2>
<ul>
    <li>
        Flask
        <ul>
            <li>Create API</li>
            <li>Setup API endpoints for Kodi</li>
            <li>Setup API endpoints for Phillips Hue</li>
            <li>Render views based on device information</li>
        </ul>
    </li>
    <li>
        Database
        <ul>
            <li>Store device data Phillips Hue in database</li>
            <li>Store device data Kodi in database</li>
        </ul>
    </li>
    <li>
        Phillips Hue
        <ul>
            <li>Reset Hue bridge in order to remove all previous authentication keys</li>
            <li>Create key for domotipi</li>
            <li>Connect to Hue bridge</li>
            <li>Import Hue JSON</li>
            <li>Save local version of Hue JSON every x-minutes</li>
            <li>Save Hue JSON locally after change</li>
        </ul>
    </li>
    <li>
        Kodi Media Center
        <ul>
            <li>Add controls: stop, ffw, rw, next, previous, volume, mute, toggle info, ok/enter</li>
            <li>Make controls contextual. Eg: when playing music it skips a track, when playing a television show it skips to the next episode</li>
            <li>Add status: what is playing? when will it be ended?</li>
        </ul>
    </li>
    <li>
        Server
        <ul>
            <li>Setup NGINX on RaspberryPi or Nuc</li>
            <li>Expose Flask to local network</li>
        </ul>
    </li>
    <li>
        Front-End
        <ul>
            <li>
                Setup view
                <ul>
                    <li>Room view</li>
                    <li>Settings view</li>
                </ul>
            </li>
            <li>
                Navigation
                <ul>
                    <li>Switch between rooms</li>
                </ul>
            </li>
            <li>Create different grid layouts for portrait and landscape view</li>
        </ul>
    </li>
</ul>
{% endblock %}