{% extends 'layout.html' %}

{% block body %}
<h1>DOMOTIPI REMOTE</h1>
<p>A lightweight web page that acts as remote control for Phillips Hue and Kodi media center.</p>
<h2>Kodi</h2>
<form action="/kodi" method="POST" name="kodi-remote" id="kodi-remote">
    <button name="kodi_action" value="playpause">Play / pause</button>
    <button name="kodi_action" value="up">Up</button>
    <button name="kodi_action" value="down">Down</button>
    <button name="kodi_action" value="left">Left</button>
    <button name="kodi_action" value="right">Right</button>
</form>
<h2>Hue</h2>
<form action="/hue" method="POST" name="hue_lights" id="hue-remote">
    {% for light in form %}
        <div>
            <label>Name: <input type="text" id="light-{{ light.data.light_id }}-name" value="{{ light.data.name }}" /></label>
            <label>On:<input type="checkbox" id="light-{{ light.data.light_id }}-id"{% if light.data.on %}checked{% endif%} /></label>
            <label>Brightness:<input type="range" min="0" max="255" value="{{ light.data.brightness }}"/></label>
            <label>Saturation:<input type="range" min="0" max="255" value="{{ light.data.saturation }}"/></label>
            <label>Hue:<input type="range" min="0" max="65535 " value="{{ light.data.hue }}"/></label>
            <label>{{ light.data.alert }}</label>
            <label>{{ light.data.xy }}</label>
            <label>{{ light.data.colortemp }}</label>
            <label>{{ light.data.reachable }}</label>
            <label>{{ light.data.effect }}</label>
        </div>
    {% endfor %}
    <input type="submit" value="set">
</form>
<h2>To-do's:</h2>
<ul>
    <li>
        Flask
        <ul>
            <li>Create API</li>
            <li>Setup API endpoints for Kodi</li>
            <li>Setup API endpoints for Phillips Hue</li>
            <li>Render views based on device information</li>
        </ul>
    </li>
    <li>
        Database
        <ul>
            <li>Store device data Phillips Hue in database</li>
            <li>Store device data Kodi in database</li>
        </ul>
    </li>
    <li>
        Phillips Hue
        <ul>
            <li>Reset Hue bridge in order to remove all previous authentication keys</li>
            <li>Create key for domotipi</li>
            <li>Connect to Hue bridge</li>
            <li>Import Hue JSON</li>
            <li>Save local version of Hue JSON every x-minutes</li>
            <li>Save Hue JSON locally after change</li>
        </ul>
    </li>
    <li>
        Kodi Media Center
        <ul>
            <li>Add controls: stop, ffw, rw, next, previous, volume, mute, toggle info, ok/enter</li>
            <li>Make controls contextual. Eg: when playing music it skips a track, when playing a television show it skips to the next episode</li>
            <li>Add status: what is playing? when will it be ended?</li>
        </ul>
    </li>
    <li>
        Server
        <ul>
            <li>Setup NGINX on RaspberryPi or Nuc</li>
            <li>Expose Flask to local network</li>
        </ul>
    </li>
    <li>
        Front-End
        <ul>
            <li>
                Setup view
                <ul>
                    <li>Room view</li>
                    <li>Settings view</li>
                </ul>
            </li>
            <li>
                Navigation
                <ul>
                    <li>Switch between rooms</li>
                </ul>
            </li>
            <li>Create different grid layouts for portrait and landscape view</li>
        </ul>
    </li>
</ul>
{% endblock %}