{% extends 'layout.jinja' %}

{% block app %}
    <h2 class="visually-hidden">{{ room[0][1] }}</h2>
    <section class="top-controls">

        {% block top_controls %}
            <h1 class="visually-hidden">Media controls</h1>
            <form action="/kodi" method="POST" name="kodi-remote" id="kodi-remote" class="media-remote">
                <div class="media-remote__search">
                    <label class="search">
                        <span class="visually-hidden">Search:</span>
                        <input type="text" placeholder="Pulp Fiction, Sopranos, Alt-J" class="search__input">
                        <input type="submit" value="🔍" class="search__button">
                    </label>
                </div>
                <div class="media-remote__controls">
                    <button name="kodi_action" value="stop">■</button>
                    <button name="kodi_action" value="up">▲</button>
                    <button name="kodi_action" value="playpause">❚❚</button>
                    <button name="kodi_action" value="left">◀</button>
                    <button name="kodi_action" value="select">⤶</button>
                    <button name="kodi_action" value="right">▶</button>
                    <button name="kodi_action" value="options">o</button>
                    <button name="kodi_action" value="down">▼</button>
                    <button name="kodi_action" value="back">↶</button>
                </div>
                <div class="media-remote__volume">
                    <button name="kodi_action" value="volume_up" class="volume-control">+</button>
                    <button name="kodi_action" value="volume_down" class="volume-control">-</button>
                </div>
                <div class="media-remote__info">
                    <h2>Currently playing</h2>
                    {{ media.current_item }}
                    <button name="kodi_action" value="info">info</button
                </div>
            </form>
        {% endblock %}

    </section>

    <ol class="tabs">
        <li><a href="" class="is-active">Media player</a></li>
        <li><a href="">Lights</a></li>
    </ol>

    <section class="bottom-controls">

        {% block bottom_controls %}
            <h2>Scenes</h2>
        {% endblock %}

    </section>
{% endblock %}