{% extends 'layout.jinja' %}

{% block app %}
    <h1>{{ room[0][1] }}</h1>
    <section class="top-controls">

        {% block top_controls %}
            <h2>Media controls</h2>
            <form action="/kodi" method="POST" name="kodi-remote" id="kodi-remote">
                <button name="kodi_action" value="playpause">►❚❚</button>
                <button name="kodi_action" value="up">▲</button>
                <button name="kodi_action" value="down">▼</button>
                <button name="kodi_action" value="left">◀</button>
                <button name="kodi_action" value="right">▶</button>
            </form>
        {% endblock %}

    </section>

    <section class="bottom-controls">

        {% block bottom_controls %}
            <h2>Scenes</h2>
        {% endblock %}

    </section>
{% endblock %}