:root {
    --gutter: 1rem;
    --small-gutter: 0.5rem;

    --color-foreground: #EFEFEF;
    --color-background: #212121;
    --color-muted: #565656;

    --border-width: 2px;

    --font: 1rem Roboto, Tahoma, Geneva, Verdana, sans-serif;
    --font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;

    --border: 2px solid #565656;
    --transparent-border: 2px solid transparent;

}

html, body {
    margin: 0;
    padding: 0;

    height: 100vh;

    font-family: var(--font-family);
    line-height: 1.25;
    color: var(--color-foreground);

    background-color: var(--color-background);
}

h1, h2, h3, label {
    font-size: 0.675rem;
    text-transform: uppercase;
    opacity: 0.5;
}

button, input {
    font: var(--font);
    color: var(--color-foreground);
    background: transparent;
    border: var(--transparent-border);
    outline: none;
}

button:hover {
    border: var(--border);
}

input {
    display: block;
    line-height: 2;
}

.remote {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    height: 100%;
}

.media-remote {
    display: grid;
    grid-template-rows: 3fr 5fr 3fr;
    grid-template-columns: 6fr 2fr;
    height: 100%;
}

.media-remote__search {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    align-items: center;
}

.search {
    display: block;
    position: relative;
    height: 100%;
}

.search__input {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0 var(--gutter);
}

.search__button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: var(--gutter);
    top: calc(50% - var(--gutter));
}

.media-remote__controls {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.media-remote__volume {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 100%;
}

.volume-control {
    flex: 1 0 auto;
}

.media-remote__info {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    padding: var(--gutter);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}