<form id="room-remote" method="POST" name="room-remote" action="/room/{{ room[0][0] }}/set-room" class="scene-control">
    <label class="text-center">
        <input type="radio" {% if room[0][5] %}checked{% endif %} value="True" name="scene_on" />
        on
    </label>
    <label class="text-center">
        <input type="radio" {% if not room[0][5] %}checked{% endif %} value="False" name="scene_on" />
        off
    </label>
    <input name="brightness" type="range" min="1" max="254" value="{{ room[0][4] }}" {% if not room[0][5] %}disabled{% endif %} />
    <input type="submit" />
</form>
